* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    border: none    ;
}

body {
    min-height: 100vh;
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    background-image: url(../image/background1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    width: 420px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
}

.wrapper h1 {
    text-align: center;
    /* font-weight: 700; */
    font-size: 2rem;

}

.wrapper  .input-group {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.wrapper .input-group input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding-left: 1rem;
    color: #fff;
    font-size: 1rem;
}

.wrapper .input-group input::placeholder {
    color: #fff;
}

.wrapper .input-group i {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px auto 15px;
}

.wrapper .remember-forgot a {
    color: #fff;
}

.wrapper .remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btm {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #fff;
    color: #333;
}

.wrapper .register-link {
    text-align: center;
    margin: 20px auto 15px;
    font-size: 14.5px;
}

.wrapper .register-link a {
    color: #fff;
    font-weight: 600;
}

.wrapper .register-link a:hover {
    text-decoration: underline;
}